<h1 style="text-align: center;">COVIDA (Chelas Open VIDeogame Application)</h1>
<p style="text-align: center;">Project by Group 10</p>
<hr>
{{#each links}}
    <a href={{link}}>{{name}}</a><br>
{{/each}}